footer{
    background:#121212;
    h2{
        margin:0;
        font-size: 38pt;
        font-weight:600;
    }
    .follow{
        color:white;
        text-align: center;
        padding-bottom:3%;
        padding-top:2%;
        .fab{
            font-size:60pt;
            color:#a3a3a3;
            padding:20px;
        }
    }

    .nyhedsbrev{
        position:relative;
        color:white;
        background:#121212;
        background: url("../Images/footerbg.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        margin: auto;
        margin-bottom:4%;
        text-align:center;
        padding-top:3%;
        box-sizing: border-box;
        margin-bottom:0;

        .hancock{
            margin-top:5%;
            padding-bottom:10%;
        }
        p{
            padding-bottom:15px;
        }

        form{
            width:50%;
            margin:auto;
            ::placeholder{
                font-size:12pt;
                color:rgba(255, 255, 255, 0.486);
            }
            fieldset{
                border:rgba(255, 255, 255, 0.466) solid 1px;
                padding:5px;
            }
            input{
                background:none;
                outline:none;
                border:none;
                text-decoration: none;
                width:48%;
                padding:10px;
                padding-top:13px;
            }
            button{
                width:48%;
                font-size:12pt;
                float:right;
                color:white;
                background:rgba(255, 45, 45, 0.486);
                outline:none;
                border:none;
                padding:10px;
                cursor:pointer;
            }
        }
    }
}