.Praktisk{
    width:100%;
    max-width:1366px;
    margin:auto;
    margin-bottom:100px;
    padding:15px;
    overflow:hidden;
    box-sizing: border-box;
    .praktiskGrid{
        display:grid;
        grid-gap:100px;
        grid-template-columns: 1fr 1fr;
        img{
            width:100%;
        }
        h3{
            font-size:20pt;
        }
    }
}